* {
    margin: 0px;
    text-align:center;
    /* border: 1px dashed red; */
}
#wrapper {
    width: 970px;
    height: 900px;
    background-color: rgb(38, 81, 117)
}
#header {
    width: 970px;
    height: 100px;
    border: 1px dashed red;
}
    #header img {
        width: auto;
        height: 100px;
        display: inline-block;
    }
#right-header{
    display: inline-block;
    margin-left: 380px;
    vertical-align: top;
}
    #right-header a{
        color: yellow;
        padding: 5px;
    }
    #right-header p{
        font-size: small;
        padding: 10px;
        color: white;
        margin-left:30px;
    }
    #search {
        width: 200px;
        height: 50px;
        border-radius:10px;
        background-color: grey;
        position: relative;
        box-shadow: 5px 5px rgb(70,70,70);
    }
        #search input {
        text-align: center;
        margin-left: 10px;
        margin-top: 10px;
        padding: 5px;
        }
button {
    width: 40px;
    height: 30px;
    color: white;
    background-color: rgb(38, 81, 117);
    border-radius: 10px;
    display: inline-block;
}
#top-nav{
    width: 800px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(71,126,171);
    box-shadow: 5px 5px black;
    margin-left: 75px;
}
    #top-nav ul {
        padding-top: 10px;
        padding-left: 10px;

    }
    #top-nav li {
        list-style-type: none;
        display: inline;
        font-size: 18pt;
        margin: 15px;
        padding-top: 15px;
    }
    #top-nav a {
        color: white;
        text-decoration: none;
        
    }
#left-nav {
    width: 200px;
    margin-top: -30px;
    display: inline-block;
    border: 1px dashed red;
}
    #left-nav ul li {
    padding: 3px;
    /* vertical-align: top; */
    list-style-position: inside;
    }
    #left-nav a {
        color: white;
        font-size: 14pt;
        font-weight: normal;
    }
#main-content {
    width: 970px;
    height: 700px;
}
#right-content {
    display: inline-block;
}
    #right-content p {
        display: inline-block;
        width: 600px;
        vertical-align: top;
        color: white;
        margin: 20px;
        border: 1px dashed blue;
    }
    #right-content h3 {
        padding: 4px;
        color: rgb(255,216,63);
        font-weight: normal;
    }
    #right-content h4 {
        color: white;
        font-weight: normal;
    }

    